<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analysis</title>
    <link rel="stylesheet" href="./static/index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./result.html">Text Analysis</a></li>
            <li><a href="./heading.html">Headlines</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
        </ul>
    </nav>
    <div class="box">
        <h1><i><div class="header">Analysis</div></i></h1>
    </div>
    <section id="input-section">
        <form id="analysis-form" action="./result.html" method="post">
            <div class="enter-text-label"><i>Enter text you want to Analyze</i></div><br>
            <textarea id="user_input" name="user_input" rows="4" cols="50" required></textarea><br>
            <button type="button" onclick="submitForm()">Submit</button>
        </form>
    </section>

    <script>
        function saveToCSV(userInput) {
           
            var blob = new Blob([userInput], { type: 'text/csv' });
    
           
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = 'user_input.csv';
    
           
            document.body.appendChild(link);
    
          
            link.click();
    
           
            document.body.removeChild(link);
        }

        function submitForm() {
            
            var userInput = document.getElementById('user_input').value;
            
          
            saveToCSV(userInput);
            document.getElementById('analysis-form').submit();
        }
    </script>
</body>
</html>
