body {
    background-image: url(images/sss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    font-family: 'Times New Roman', Times, serif; /* Added font-family */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Hide scrollbar */
}

nav {
    margin-left: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 70px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
}

nav li {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: slategrey;
}

#input-section,
#result-section {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

textarea {
    margin-top: 10px;
    width: 100%; /* Adjusted for responsiveness */
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; /* Added font-family */
}

button {
    margin-top: 10px;
}
.Result {
    text-align: center;
    font-family: 'Times New Roman', Times, serif; /* Added font-family */
    gap: 20px;
}
#analysis-box {
    gap: 20px;
    border: 3px solid black;
    margin-top: 100px;
    background: white;
    width: 80%; /* Adjusted for responsiveness */
    padding: 30px;
    box-sizing: border-box;
    max-height: 400px; /* Adjust the max-height based on your needs */
    overflow-y: auto;
    font-family: 'Times New Roman', Times, serif; /* Added font-family */
}

/* Media Query for responsiveness */
@media screen and (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }
}

@media screen and (min-width: 800px) {
    textarea {
        width: 40%;
    }

    #user-input-box,
    #analysis-box {
        width: 40%;
    }
}
